<!doctype html>
<html class="no-js" lang="">
		<head>
			<meta charset="utf-8">
			<meta http-equiv="x-ua-compatible" content="ie=edge">
			<title><%= htmlWebpackPlugin.options.title %></title>
			<meta name="description" content="">
			<meta name="viewport" content="width=device-width, initial-scale=1">
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.20.1/vis.min.css">
			<link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">
		</head>
	<body>
		<!--[if lt IE 8]>
			<div class="browserupgrade">
				<p><strong>YOUR BROWSER IS FROM ANOTHER ERA</strong></p>
				<p>he's witnessed asteroid that wiped out dinosaurs<br/>he's so ancient that he can barely render your page</p>
				<p>Please,<a href="http://browsehappy.com/">update it</a></p>
			</div>
		<![endif]-->
		<div id="app">
			<v-app>
				<router-view></router-view>
			</v-app>
		</div>
	</body>
</html>
